<a href="https://colab.research.google.com/github/gymnopedies7/tensorflow_tutorial/blob/master/tensorflow_tutorial_Hiddenlayer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Libray Import
import tensorflow as tf
import pandas as pd


# Data 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)

In [ ]:
보스턴.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
보스턴.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [ ]:
#종속변수, 독립변수 나누기

독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]

In [ ]:
# 모델구성

X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10, activation='swish')(X)
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [ ]:
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                140
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 모델 학습(fit)

model.fit(독립,종속, epochs=500, verbose = 0)

In [ ]:
model.fit(독립,종속, epochs=1000, verbose = 0)
model.fit(독립,종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0973
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 27.9218
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6789
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.7236
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 27.0991
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4585
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 25.6308
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.6277
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 22.5493
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 26.8456

In [ ]:
print(model.predict(독립[:5]))
print(종속[:5])

[[28.259642]
 [23.2499  ]
 [28.53048 ]
 [28.308615]
 [27.547266]]
   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
print(model.get_weights())

[array([[ 0.30805823, -2.1078813 , -0.19062759,  0.13903701, -0.08492528,
        -0.17536667,  0.06721567,  0.19099821,  0.29758757, -0.51191854],
       [ 0.45077008,  0.13036318,  0.21517633,  0.1109008 ,  0.30247083,
         0.29035938, -0.2871058 , -0.06739677, -0.15113342,  0.19826673],
       [-0.1710183 ,  0.48208073,  0.2698689 , -0.14150989,  0.04329041,
         0.11039604,  0.33523104, -0.11509359,  0.35640785, -0.46178904],
       [ 0.9873582 ,  0.54817474, -0.767633  ,  0.44801474, -0.9682882 ,
         1.8502419 ,  0.16949375, -1.2779735 , -1.7510948 ,  0.04952135],
       [ 0.36726338, -0.6534231 ,  0.4746595 , -0.20409963, -0.521797  ,
        -0.16716821, -0.07312188,  0.10938413, -0.49812242,  0.21194084],
       [ 0.6977878 , -1.4596045 ,  0.7832007 , -0.10807928, -0.826883  ,
         0.90889305,  1.1281304 , -1.2389586 , -0.48438382,  0.04492147],
       [ 0.3693866 ,  0.04357393, -0.0949193 ,  0.27876517,  0.04736292,
         0.28082624, -0.07984513,  0.23297234,  0.2426236 , -0.29753765],
       [-0.2851449 ,  0.59369636, -0.07444722,  0.36593676, -0.01920335,
        -0.43382907, -0.16735822,  0.4195847 ,  0.19382781,  0.38377213],
       [ 0.33340976, -0.4892293 ,  0.31190553,  0.40310103,  0.10275524,
        -0.16023326,  0.5549309 ,  0.01070037, -0.42159602, -0.07791641],
       [ 0.00821109, -0.26608038,  0.07148862, -0.0878537 ,  0.24352345,
         0.25555736, -0.35053968, -0.00764986,  0.07514903, -0.46132934],
       [-0.3505446 ,  0.64290047, -0.44679734,  0.27367452, -0.01933109,
        -0.21368551,  0.23088199,  0.01994616,  0.6538275 , -0.13340603],
       [ 0.32636425,  0.40323836, -0.1171632 , -0.0712418 , -0.11011727,
        -0.06875191,  0.52102154,  0.16021824,  0.307497  ,  0.2002466 ],
       [-0.47941554, -0.37762913, -0.6146426 ,  0.40932077,  0.28234985,
        -0.41382888, -0.04500616,  0.3390962 ,  0.34849212, -0.24216789]],
      dtype=float32), array([ 0.31594002, -0.25101268, -0.1814351 , -0.02362687, -0.28144255,
        0.31792927,  0.32857054, -0.3325322 , -0.34321404, -0.02938789],
      dtype=float32), array([[ 0.37789392],
       [-0.5074536 ],
       [-0.5034977 ],
       [-2.2586627 ],
       [-0.29551074],
       [ 0.48343328],
       [ 0.5715751 ],
       [-0.6921106 ],
       [-0.14509133],
       [-1.248706  ]], dtype=float32), array([0.32380873], dtype=float32)]